@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page1{
    background-color: #E5E5E5;
    height: 100vh;
}
.dotted{
    position: relative;
    border: 2px dashed #6CB840 ;
    border-radius: 50%;
    margin-top: 240px;
    margin-left: 655px;
    width: 500px;
    height: 500px;
}
.dotted > img:first-child{
    transform: rotate(0deg) translateY(-30px);
    margin-left: 30px;
}

.dotted > img:nth-child(2) {
    transform: rotate(45deg) translateY(-115px);
}
.dotted > img:nth-child(3){
    transform: rotate(90deg) translateY(-105px);
}

.dotted > img:nth-child(4){
    transform: rotate(-45deg) translateY(-60px);
}

.dotted > img:nth-child(5){
    transform: rotate(-90deg) translateY(50px);
    margin-left: 240px;
    margin-bottom: 30px;
}
.img6{
    margin-top: 280px;
    margin-left: 65%;
    width: 150px;
}
nav{
    margin-top: 20px;
}
nav ul{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
nav ul li{
    list-style: none;
    margin-top: 35px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}